@model SubCategoryViewModel

@{
    ViewData["Title"] = "Sub Category Details";
}

<h1 class="text-primary mt-4">
    Sub Category Details
</h1>

<div class="whiteBackground container border mt-4">
    <div class="row">
        <div class="col-12 col-xl-9">
            <div class="row form-group">
                <div class="col-12 col-lg-3">
                    <label asp-for="SubCategory.Id" class="col-form-label"></label>
                </div>
                <div class="col-12 col-lg-9 col-xl-7">
                    <input disabled asp-for="SubCategory.Category.Name" class="form-control" />
                    <input type="hidden" id="ddlCategories" asp-for="SubCategory.CategoryId" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-lg-3">
                    <label asp-for="SubCategory.Name" class="col-form-label"></label>
                </div>
                <div class="col-12 col-lg-9 col-xl-7">
                    <input type="text" asp-for="SubCategory.Name" class="form-control" disabled autocomplete="off" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 offset-lg-3 col-lg-9 col-xl-7">
                    <partial name="_EditAndBackToListButtonsPartial" model="Model.SubCategory.Id" />
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-3">
            <p>Existing Sub Category :</p>
            <hr style="width:200px;display:inline-flex;" class="d-xl-none mt-0" />
            <div id="divSubCategoriesList">

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        function updateSubCategoriesList() {
            var selectedCategory = document.getElementById("ddlCategories").value;
            $list = $('#divSubCategoriesList');

            $.ajax({
                url: '/admin/subcategories/getsubcategories/' + selectedCategory,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append('<ul class="list-group">')
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>')
                    }
                    $list.append('<ul>')
                }
            });
        }

        $(document).ready(function () {
            updateSubCategoriesList();
        });

    </script>

}